# üìä Superstore Sales Analysis and Visualization

This project explores the **Superstore dataset**, a realistic sample dataset containing sales and order information.  
It is designed to practice **Python data science libraries** such as **Pandas, NumPy, and Pandasql**, while solving real-world style business problems.

---

## üîπ Project Overview
- Perform **Exploratory Data Analysis (EDA)** to understand sales trends and customer behavior.  
- Apply **data cleaning and preprocessing** to prepare the dataset for analysis.  
- Solve **business case questions** using:
  - **Pandas** for data manipulation  
  - **Pandasql** for SQL-style querying within Python  

---

## üõ†Ô∏è Tools & Libraries
- **Python**  
- **Pandas, NumPy**  
- **Pandasql**  
- **Matplotlib / Seaborn (for visualization)**

In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("superstore_sales_data.csv", index_col=0)
df

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,...,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,test,cumulative_value,Time_Shipped
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,True,2.619600e+02,3
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,True,9.939000e+02,3
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,True,1.008520e+03,4
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,True,1.966098e+03,7
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680,True,1.988466e+03,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,...,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980,True,2.260973e+06,7
9796,9797,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680,True,2.260983e+06,5
9797,9798,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880,True,2.261219e+06,5
9798,9799,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760,True,2.261245e+06,5
9799,9800,CA-2016-128608,2016-01-12,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840,True,2.261255e+06,5

### EDA for SuperStore Sales Data

In [9]:
df.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category',
       'Product_Name', 'Sales', 'test', 'cumulative_value', 'Time_Shipped'],
      dtype='object')

In [10]:
df.dtypes

Row_ID                int64
Order_ID             object
Order_Date           object
Ship_Date            object
Ship_Mode            object
Customer_ID          object
Customer_Name        object
Segment              object
Country              object
City                 object
State                object
Postal_Code         float64
Region               object
Product_ID           object
Category             object
Sub_Category         object
Product_Name         object
Sales               float64
test                   bool
cumulative_value    float64
Time_Shipped          int64
dtype: object

In [11]:
df[["Order_Date", "Ship_Date"]]

      Order_Date   Ship_Date
0     2017-11-08  2017-11-11
1     2017-11-08  2017-11-11
2     2017-06-12  2017-06-16
3     2016-10-11  2016-10-18
4     2016-10-11  2016-10-18
...          ...         ...
9795  2017-05-21  2017-05-28
9796  2016-01-12  2016-01-17
9797  2016-01-12  2016-01-17
9798  2016-01-12  2016-01-17
9799  2016-01-12  2016-01-17

[9799 rows x 2 columns]

In [12]:
df["Order_Date"] = pd.to_datetime(df["Order_Date"])
df["Order_Date"] = df["Order_Date"].dt.strftime('%d-%m-%y')
df["Order_Date"] = pd.to_datetime(df["Order_Date"])


df["Ship_Date"] = pd.to_datetime(df["Ship_Date"])
df["Ship_Date"] = df["Ship_Date"].dt.strftime('%d-%m-%y')
df["Ship_Date"] = pd.to_datetime(df["Ship_Date"])

df.dtypes
df[["Order_Date", "Ship_Date"]]

/var/folders/5g/qwgtmhgj1_7bjbkjb244jb880000gn/T/ipykernel_62881/988229078.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Order_Date"] = pd.to_datetime(df["Order_Date"])
/var/folders/5g/qwgtmhgj1_7bjbkjb244jb880000gn/T/ipykernel_62881/988229078.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Ship_Date"] = pd.to_datetime(df["Ship_Date"])

     Order_Date  Ship_Date
0    2017-08-11 2017-11-11
1    2017-08-11 2017-11-11
2    2017-12-06 2017-06-16
3    2016-11-10 2016-10-18
4    2016-11-10 2016-10-18
...         ...        ...
9795 2017-05-21 2017-05-28
9796 2016-12-01 2016-01-17
9797 2016-12-01 2016-01-17
9798 2016-12-01 2016-01-17
9799 2016-12-01 2016-01-17

[9799 rows x 2 columns]

In [13]:
change_type = ({'Postal_Code':str})
df = df.astype(change_type)
df.dtypes

Row_ID                       int64
Order_ID                    object
Order_Date          datetime64[ns]
Ship_Date           datetime64[ns]
Ship_Mode                   object
Customer_ID                 object
Customer_Name               object
Segment                     object
Country                     object
City                        object
State                       object
Postal_Code                 object
Region                      object
Product_ID                  object
Category                    object
Sub_Category                object
Product_Name                object
Sales                      float64
test                          bool
cumulative_value           float64
Time_Shipped                 int64
dtype: object

In [14]:
#checking the duplicated rows except "ROW_ID"
duplicate = df[df.duplicated(subset=df.columns.difference(['Row_ID']))]
duplicate

Empty DataFrame
Columns: [Row_ID, Order_ID, Order_Date, Ship_Date, Ship_Mode, Customer_ID, Customer_Name, Segment, Country, City, State, Postal_Code, Region, Product_ID, Category, Sub_Category, Product_Name, Sales, test, cumulative_value, Time_Shipped]
Index: []

[0 rows x 21 columns]

In [15]:
df1 = df.drop_duplicates(subset=df.columns.difference(['Row_ID']))
df1

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,...,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,test,cumulative_value,Time_Shipped
0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,True,2.619600e+02,3
1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,True,9.939000e+02,3
2,3,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,True,1.008520e+03,4
3,4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,True,1.966098e+03,7
4,5,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680,True,1.988466e+03,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,...,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980,True,2.260973e+06,7
9796,9797,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680,True,2.260983e+06,5
9797,9798,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880,True,2.261219e+06,5
9798,9799,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760,True,2.261245e+06,5
9799,9800,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840,True,2.261255e+06,5

In [16]:
df1.describe()

,Row_ID,Order_Date,Ship_Date,Sales,cumulative_value,Time_Shipped
count,9799.000000,9799,9799,9799.000000,9.799000e+03,9799.000000
mean,4900.652414,2017-04-12 16:10:28.962138880,2017-04-21 21:31:52.235942400,230.763895,1.128693e+06,3.961118
min,1.000000,2015-01-02 00:00:00,2015-01-04 00:00:00,0.444000,2.619600e+02,0.000000
25%,2450.500000,2016-05-03 00:00:00,2016-05-08 00:00:00,17.248000,5.466127e+05,3.000000
50%,4901.000000,2017-05-30 00:00:00,2017-06-12 00:00:00,54.480000,1.124085e+06,4.000000
75%,7350.500000,2018-04-11 00:00:00,2018-05-02 00:00:00,210.572000,1.682514e+06,5.000000
max,9800.000000,2018-12-30 00:00:00,2019-05-01 00:00:00,22638.480000,2.261255e+06,7.000000
std,2829.264788,NaN,NaN,626.683644,6.478405e+05,1.749703

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9799 entries, 0 to 9799
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Row_ID            9799 non-null   int64
 1   Order_ID          9799 non-null   object
 2   Order_Date        9799 non-null   datetime64[ns]
 3   Ship_Date         9799 non-null   datetime64[ns]
 4   Ship_Mode         9799 non-null   object
 5   Customer_ID       9799 non-null   object
 6   Customer_Name     9799 non-null   object
 7   Segment           9799 non-null   object
 8   Country           9799 non-null   object
 9   City              9799 non-null   object
 10  State             9799 non-null   object
 11  Postal_Code       9799 non-null   object
 12  Region            9799 non-null   object
 13  Product_ID        9799 non-null   object
 14  Category          9799 non-null   object
 15  Sub_Category      9799 non-null   object
 16  Product_Name      9799 non-null   object
 17  Sales             9799 non-null   float64
 18  test              9799 non-null   bool
 19  cumulative_value  9799 non-null   float64
 20  Time_Shipped      9799 non-null   int64
dtypes: bool(1), datetime64[ns](2), float64(2), int64(2), object(14)
memory usage: 1.6+ MB

In [18]:
df1.shape

(9799, 21)

### Handling Null Values

In [19]:
#checking number of null values in each column
df1.isnull().sum()

Row_ID              0
Order_ID            0
Order_Date          0
Ship_Date           0
Ship_Mode           0
Customer_ID         0
Customer_Name       0
Segment             0
Country             0
City                0
State               0
Postal_Code         0
Region              0
Product_ID          0
Category            0
Sub_Category        0
Product_Name        0
Sales               0
test                0
cumulative_value    0
Time_Shipped        0
dtype: int64

In [20]:
df2 = df1.dropna(axis=0, how="any")
df2

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,...,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,test,cumulative_value,Time_Shipped
0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,True,2.619600e+02,3
1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,True,9.939000e+02,3
2,3,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,True,1.008520e+03,4
3,4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,True,1.966098e+03,7
4,5,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680,True,1.988466e+03,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,...,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980,True,2.260973e+06,7
9796,9797,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680,True,2.260983e+06,5
9797,9798,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880,True,2.261219e+06,5
9798,9799,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760,True,2.261245e+06,5
9799,9800,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840,True,2.261255e+06,5

### Data Validation & Consistency Check

In [21]:
column_values = df2['Region'].values   
test = np.unique(column_values)
print(test)

['Central' 'East' 'South' 'West']

In [22]:
df_test = df2
df_test

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,...,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,test,cumulative_value,Time_Shipped
0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,True,2.619600e+02,3
1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,True,9.939000e+02,3
2,3,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,True,1.008520e+03,4
3,4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,True,1.966098e+03,7
4,5,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680,True,1.988466e+03,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,...,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980,True,2.260973e+06,7
9796,9797,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680,True,2.260983e+06,5
9797,9798,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880,True,2.261219e+06,5
9798,9799,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760,True,2.261245e+06,5
9799,9800,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840,True,2.261255e+06,5

In [23]:
df_test["test"] = df_test["Ship_Date"] >= df_test["Order_Date"]
df_test

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,...,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,test,cumulative_value,Time_Shipped
0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,True,2.619600e+02,3
1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,True,9.939000e+02,3
2,3,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,False,1.008520e+03,4
3,4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,False,1.966098e+03,7
4,5,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680,False,1.988466e+03,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,2017-05-21,2017-05-28,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,...,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980,True,2.260973e+06,7
9796,9797,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680,False,2.260983e+06,5
9797,9798,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880,False,2.261219e+06,5
9798,9799,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760,False,2.261245e+06,5
9799,9800,CA-2016-128608,2016-12-01,2016-01-17,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,...,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840,False,2.261255e+06,5

In [24]:
column_values = df_test['test'].values   #can plugin each column or all columns at a time 
test1 = np.unique(column_values)
test1

array([False,  True])

### Running SQL Queries in Pandas 

using pandasql to query dataframes using SQL syntax

In [25]:
from pandasql import sqldf

In [7]:
%pip install -U pandasql

Requirement already satisfied: pandasql in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (0.7.3)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandasql) (1.26.4)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandasql) (2.2.3)
Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandasql) (2.0.41)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas->pandasql) (2023.3)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas->pandasql) (2024.1)
Requirement already satisfied: greenlet>=1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from sqlalchemy->pandasql) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from sqlalchemy->pandasql) (4.12.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: pip3.11 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [26]:
print(sqldf(''' SELECT Order_Date, Ship_Date FROM df2 LIMIT 5 '''))

                   Order_Date                   Ship_Date
0  2017-08-11 00:00:00.000000  2017-11-11 00:00:00.000000
1  2017-08-11 00:00:00.000000  2017-11-11 00:00:00.000000
2  2017-12-06 00:00:00.000000  2017-06-16 00:00:00.000000
3  2016-11-10 00:00:00.000000  2016-10-18 00:00:00.000000
4  2016-11-10 00:00:00.000000  2016-10-18 00:00:00.000000

Question 1: What percentage of total orders were shipped on the same date?

In [32]:
print(sqldf(''' SELECT COUNT(row_id) as total_orders,
                SUM(CASE WHEN Order_Date = Ship_Date then 1 else 0 END) AS shipped_same_date,
                ROUND(cast(sum(case when Order_Date = Ship_Date then 1 else 0 END) as float(1,2)) / 
                cast(count(row_id) as float(1,2)) * cast(100 as float(1,2)), 2) as perCE
                from df2
            '''))

   total_orders  shipped_same_date  perCE
0          9799                514   5.25

Question 2: Name top 3 customers with highest total value of orders.

In [35]:
print(sqldf('''
    SELECT Customer_ID, Customer_Name, ROUND(SUM(Sales),2) as Sum_of_Sales
    FROM df2
    GROUP BY Customer_ID, Customer_Name
    ORDER BY Sum_of_Sales DESC
    LIMIT 3
'''))

  Customer_ID Customer_Name  Sum_of_Sales
0    SM-20320   Sean Miller      25043.05
1    TC-20980  Tamara Chand      19052.22
2    RB-19360  Raymond Buch      15117.34

Question 3: Find the top 5 items with the highest average sales per day.

In [41]:
print(sqldf('''
    SELECT 
        Product_Name, 
        ROUND(AVG(Daily_Sales),2) AS Avg_Sales_Per_Day, DATE(Order_Date) as Date
    FROM (
        SELECT 
            Product_Name,
            Order_Date,
            SUM(Sales) AS Daily_Sales
        FROM df2
        GROUP BY Product_Name, Order_Date
    ) AS sub
    GROUP BY Product_Name
    ORDER BY Avg_Sales_Per_Day DESC
    LIMIT 5
'''))

                                        Product_Name  Avg_Sales_Per_Day  \
0  Cisco TelePresence System EX90 Videoconferenci...           22638.48
1              Canon imageCLASS 2200 Advanced Copier           12319.96
2          Cubify CubeX 3D Printer Triple Head Print            7999.98
3   3D Systems Cube Printer, 2nd Generation, Magenta            7149.95
4  HP Designjet T520 Inkjet Large Format Printer ...            6124.97

         Date
0  2015-03-18
1  2017-02-10
2  2018-04-11
3  2017-04-16
4  2015-09-19

Question 4: Write a query to find the average order value for each customer, and rank the customers by their average order value.

In [27]:
print(sqldf('''select Customer_ID, Customer_Name,
               cus_avg_order_value,
               RANK() OVER(ORDER BY cus_avg_order_value desc) as Customer_Rank
               from 
               (
               select Customer_ID, Customer_Name,
               avg(Sales) as cus_avg_order_value
               from df2
               group by Customer_ID, Customer_Name
               )
            '''))

    Customer_ID     Customer_Name  cus_avg_order_value  Customer_Rank
0      MW-18235  Mitch Willingham          1751.292000              1
1      SM-20320       Sean Miller          1669.536667              2
2      TC-20980      Tamara Chand          1587.684833              3
3      GT-14635    Grant Thornton          1558.535333              4
4      TA-21385      Tom Ashbrook          1459.562000              5
..          ...               ...                  ...            ...
788    SG-20890    Susan Gilcrest             9.589200            789
789    MG-18205   Mitch Gastineau             8.369500            790
790    RS-19870        Roy Skaria             7.442667            791
791    LD-16855      Lela Donovan             5.304000            792
792    TS-21085     Thais Sissman             2.416500            793

[793 rows x 4 columns]

Question 5: Give the name of customers who ordered highest and lowest orders from each city.

In [28]:
from pandasql import sqldf

# helper to run sql against pandas DataFrames in local scope
pysqldf = lambda q: sqldf(q, globals())

query = '''
WITH max_per_city AS (
  SELECT city, MAX(Sales) AS high_order_value
  FROM df2
  GROUP BY city
),
min_per_city AS (
  SELECT city, MIN(Sales) AS low_order_value
  FROM df2
  GROUP BY city
)
SELECT 
  h.customer_name AS high_value_customer,
  mp.high_order_value,
  l.customer_name AS low_value_customer,
  np.low_order_value,
  mp.city
FROM max_per_city mp
JOIN df2 h
  ON h.city = mp.city
  AND h.Sales = mp.high_order_value
JOIN min_per_city np
  ON np.city = mp.city
JOIN df2 l
  ON l.city = np.city
  AND l.Sales = np.low_order_value
;
'''

result_df = pysqldf(query)
# result_df now holds the output as a pandas DataFrame
print(result_df)

    high_value_customer  high_order_value low_value_customer  low_order_value  \
0       Jeremy Lonsdale            25.500    Jeremy Lonsdale           25.500
1           Dennis Kane             1.392        Dennis Kane            1.392
2            Ed Braxton           665.408         Karl Braun            2.286
3     Michelle Lonsdale           595.000    Susan Vittorini            4.280
4          Greg Maxwell          4164.050    Shirley Daniels           12.420
..                  ...               ...                ...              ...
524         Andy Reiter            52.960          Don Jones           45.360
525       Karen Daniels          4899.930        Nathan Cano           10.896
526       Theresa Swint           422.058        Noah Childs           37.896
527       Odella Nelson            50.800      Odella Nelson           50.800
528         Gary Hansen           599.985       Dario Medina           10.496

            city
0       Aberdeen
1        Abilene
2          Akron
3    Albuquerque
4     Alexandria
..           ...
524   Woonsocket
525      Yonkers
526         York
527      Yucaipa
528         Yuma

[529 rows x 5 columns]

Question 6: What is the most demanded sub-category in the west region?

In [29]:
print(sqldf('''SELECT Sub_Category, sum(Sales) as total_sales
               from df2
               where Region = 'West'
               group by Sub_Category
               order by sum(Sales) desc
               limit 1
            '''))

  Sub_Category  total_sales
0       Chairs     100023.2

Question 7: Which order has the highest number of items? And which order has the highest cumulative value?

In [32]:
print(sqldf('''select Order_ID, count(distinct Product_ID) as num_items
               from df2
               group by Order_ID
               order by num_items desc
               limit 1
            '''))

print(sqldf('''SELECT Order_ID,
       SUM(Sales) AS total_sales
       FROM df2
       GROUP BY Order_ID
       ORDER BY total_sales DESC
       LIMIT 1;       
            '''))

         Order_ID  num_items
0  CA-2018-100111         14
         Order_ID  total_sales
0  CA-2015-145317    23661.228

Question 8: Which segment‚Äôs order is more likely to be shipped via first class?

In [33]:
print(sqldf('''Select Segment, Ship_Mode, count(Order_ID) as num_items
               from df2
               where Ship_Mode = "First Class"
               group by Segment, Ship_mode
               Order by num_items desc
            '''))

       Segment    Ship_Mode  num_items
0     Consumer  First Class        755
1    Corporate  First Class        468
2  Home Office  First Class        278


Question 9: Which city is least contributing to total revenue?

In [34]:
print(sqldf('''Select City, sum(Sales) as Total_Sales
               from df2
               group by City
               Order by Total_Sales asc
               limit 1
            '''))

      City  Total_Sales
0  Abilene        1.392

Question 10: What is the average time for orders to get shipped after order is placed?

In [35]:
print(sqldf('''SELECT cast(avg(Time_Shipped) as int(1,0)) as avg_time_to_ship
               from df2
            '''))

   avg_time_to_ship
0                 3

Question 11: Which segment places the highest number of orders from each state and which segment places the largest individual orders from each state?

In [36]:
print(sqldf('''SELECT State, Segment, num_orders 
               from
               (
               SELECT State,Segment,
               count(Order_ID) as num_orders,
               row_number() over(partition by State order by count(Order_ID) desc) as rank_num
               from df2
               group by State, Segment
               )
               where rank_num=1
            '''))

                   State      Segment  num_orders
0                Alabama    Corporate          28
1                Arizona     Consumer         109
2               Arkansas     Consumer          37
3             California     Consumer        1020
4               Colorado     Consumer          92
5            Connecticut     Consumer          43
6               Delaware     Consumer          49
7   District of Columbia     Consumer           7
8                Florida     Consumer         179
9                Georgia     Consumer          82
10                 Idaho    Corporate           9
11              Illinois     Consumer         267
12               Indiana     Consumer          72
13                  Iowa    Corporate          10
14                Kansas  Home Office           8
15              Kentucky     Consumer          76
16             Louisiana     Consumer          25
17                 Maine    Corporate           5
18              Maryland     Consumer          46
19         Massachusetts     Consumer          58
20              Michigan     Consumer         130
21             Minnesota     Consumer          51
22           Mississippi     Consumer          28
23              Missouri     Consumer          38
24               Montana  Home Office           9
25              Nebraska     Consumer          19
26                Nevada     Consumer          18
27         New Hampshire  Home Office          12
28            New Jersey     Consumer          50
29            New Mexico     Consumer          15
30              New York     Consumer         632
31        North Carolina     Consumer         140
32          North Dakota     Consumer           5
33                  Ohio     Consumer         252
34              Oklahoma     Consumer          35
35                Oregon     Consumer          65
36          Pennsylvania     Consumer         281
37          Rhode Island    Corporate          21
38        South Carolina     Consumer          22
39          South Dakota    Corporate          10
40             Tennessee     Consumer         100
41                 Texas     Consumer         516
42                  Utah     Consumer          31
43               Vermont    Corporate           5
44              Virginia     Consumer         117
45            Washington     Consumer         275
46         West Virginia  Home Office           3
47             Wisconsin    Corporate          42
48               Wyoming  Home Office           1

Question 12: Find the maximum number of days for which total sales on each day kept rising.

In [37]:
print(sqldf('''SELECT MAX(Days) AS Maximum_Consecutive_Days
FROM (
  SELECT
    a.Order_Date,
    COUNT(*) AS Days
  FROM
    df2 a
  JOIN
    df2 b ON a.Order_Date <= b.Order_Date
  GROUP BY
    a.Order_Date
  HAVING
    SUM(b.Sales) - SUM(a.Sales) = a.Sales
) AS ConsecutiveDays
'''))

  Maximum_Consecutive_Days
0                     None